* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    overflow-x: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.img-baner{
    width: 25%;
    margin: auto;
}
p{
    text-align: center;
    font-size: 1rem;
    color: #575656;
}

body {
    background-color: rgb(248, 228, 219);

    font-family: "Lexend", sans-serif; 
 
    font-size: 0.5rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.103);
    line-height: 1.8rem;
    overflow-x: hidden;
}

main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(255, 205, 182, 0.411);
}


header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    position: fixed; 
    top: 0; 
    background-color: #fff;
    box-shadow: 0 4px 2px -2px gray; 
    z-index: 10;
    width: 100%;

    transition: background-color 0.3s ease;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 60px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50%;
    margin-left: 20px;
}

#carrito .btn {
    background-color: #ee6e32;
    /* Color del carrito */
    color: white;
    font-size: 1.2rem;
    padding: 10px 35px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s;
    margin-right: 1rem;
}

#carrito .btn:hover {
    background-color: #fcfcfc;
    border: 1px solid #ee6e32;
    color: #ee6e32;
}

.cantidadCarrito {
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: 5px 12px;
    position: absolute;
    top: -4px;
    right: -8px;
    font-size: 1rem;
}

.invis,
h1 {
    display: none;
}

#carrito .fa-cart-shopping {
    margin-right: 8px;
}



h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: auto;
    color: #5c5b5b;
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.3rem solid #ee6e32;
    text-align: center;


}

h3 {
    font-weight: 700;
    font-size: 1rem;
}

.carousel {
        
    margin-top: 5rem;
}

#contenedor-productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.tarjeta-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.418);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 600px;
    text-align: center;

}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 2px solid #eee;
    padding: 1rem;
}


.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
   
}


.card-text {
    font-size: 1rem;
    color: #ee6e32;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.card-cat {
    font-size: 0.9rem;
    color: #888;
}


.btn-detalle,
.btn-agregar,
.btn-checkout
 {
    color: rgb(253, 111, 45);
    border: 1px solid rgb(255, 115, 0);
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 3rem;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-transform: uppercase;
}



.btn-agregar i,
.btn-detalle i,
.btn-checkout i {
    margin-right: 5px;
    font-size: 1rem;

}

.btn-agregar:hover,
.btn-detalle:hover,
.btn-checkout:hover {
    background-color: #ee6e32;
    color: #d0e0e3;
}





/* Estilo para los filtros */
.filtros {
    display: grid;
    flex-direction: column;
    gap: 15px;
    padding: 1rem;
    background-color: #fdf0ea;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.filtros label {
    font-size: 1.2rem;
    color: #ee6e32;
    margin-bottom: 5px;
}

.filtros select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filtros select:focus {
    border-color: #ff7b00;
    box-shadow: 0 0 5px rgba(255, 115, 0, 0.5);
}

.filtros select option {
    padding: 10px;
}

.filtros select:hover {
    border-color: #888;
}




/*---------formulario--------------------------*/



.modal-checkout {
    font-size: 2rem;
    color: #e9640c;
    width: 100%;
    max-width: 650px;
    padding: 20px;
    margin: auto;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    >h3 {
        margin-top: 1rem;
        text-align: center;
    }
}




/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    background-color: #df600c;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

footer ul li {
    font-family: 'Montserrat';
    font-size: 1.4em;
    line-height: 1.5;
    text-align: center;
    color: #d0e0e3;
}

footer ul li a {
    font-family: 'Montserrat';
    font-size: 1em;
    text-decoration: none;
    color: #d0e0e3;
}


/* Estilo del banner oferta */
.oferta-banner {
    position: fixed;
    bottom: 400px;
    right: 20px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 100;
    padding: 10px;
    animation: slideIn 0.5s ease-out;
    transition: transform 0.3s, opacity 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}


.oferta-banner img {
    max-width: 100%;
    border-radius: 5px;
}


.btn-cerrar {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: transform 0.3s;
}

.btn-cerrar:hover {
    transform: scale(1.2);
    color: #f00;
}

/* Animación de entrada */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}



/*Modal detalles y vacio*/


.modal-detalle-producto,
.modal-vacio
{
    width: 100%;
    max-width: 650px;
    padding: 20px;
    margin: auto;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}

.modal-detalle-producto img {

    width: 75%;
    margin: auto;
    margin-top: 1.5rem;




}

.modal-detalle-producto h3 {
    border-bottom: 1px solid rgb(250, 114, 2);
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.modal-detalle-producto span {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(250, 114, 2);

}

.modal-detalle-producto p {
    font-size: 1rem;
    padding: 1rem 1rem 0 0;




}

.btn-navegacion {
    position: absolute;
    top: 35%;
    background: rgb(250, 114, 2);
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 1rem;    
    transition: background 0.3s ease;
}

.btn-navegacion:hover {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(250, 114, 2);
    color: rgb(250, 114, 2);
}



.btn-navegacion:first-of-type {
    left: 1rem;
    border-radius: 1.5rem 0 0 1.5rem;
}

.btn-navegacion:last-of-type {
    right: 1rem;
    border-radius:0 1.5rem 1.5rem 0;
}


/* Modal carrito */


.modal-div {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    margin: auto;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.producto-element {
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.modal-carrito
 {
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.075);
}

.modal-carrito p {
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
}

.modal-carrito img {
    display: flex;
    border-radius: 4px;
    width: 90%;
    height: auto;
    margin: auto;
}

.modal-carrito span {
    background-color: #e9640c;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #d0e0e3;
}

.producto-info {
    flex-grow: 1;
}

.modal-carrito .fa-solid {
    font-size: 2rem;
    color: #ee6e32;
}

.botones-acciones {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
}

.botones-acciones button {
    padding: 5px 16px;
    border: 1px solid #ee6e32;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.2s ease;
   
}

.restar{
    border-radius: 1.8rem 0 0 1.8rem; }

    .sumar{
        border-radius: 0 1.8rem  1.8rem 0; }

.botones-acciones .btn:hover {
    background-color: #ee6e32;
    color: #e0e0e0;
}

.tituloCarrito {
    padding: 2rem;
    background-color: #ee6e32;
    color: #d0e0e3;
    font-size: 1.2rem;
}


.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    text-align: center;
}


.resultado p {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 900;
    color: #181717;
    text-align: right;
}

.vacio-img{
    width: 20%;
    margin: auto;
}

.modal-vacio p{

   
    font-size: 1rem;
}

.msjCarrito h4{
    font-size: 1rem;
    text-align: center;
}
.tot-cuota {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

.modal-checkout label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.modal-checkout input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
}

.modal-checkout input:focus, select:focus {
    border-color: #007BFF;
    outline: none;
}
.pie-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn-checkout{
    width: 100%;
}

.carrito-car{
    padding: 1rem;
    background-color: #df600c;
}
.carrito-car p {
    color: #f8f5f2;
    font-size: 1.2rem;
}

/* Erros de validação */
small {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

@media (min-width: 992px) {

    .carousel {
        
        margin-top: 4rem;
    }


    #productos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    .filtros {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    #carrito .btn {
        margin-right: 8rem;
    }

    footer ul {
        flex-direction: row;
    }

    .modal-div {
        width: 100%;
        max-width: 900px;
        padding: 20px;
        margin: auto;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
       
    }


    .producto-element {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
    }

    .modal-carrito {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.397);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.075);
    }

    .modal-carrito p {
        margin: 1rem;

    }

    .modal-carrito img {
        border-radius: 4px;
        width: 70px;
        height: 70px;
        margin-right: 15px;

    }

    .modal-carrito span {
        border: 1px solid #ee9595;
        padding: 1rem;
    }

    .producto-info {
        flex-grow: 1;
    }




    .botones-acciones {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

    }


    .botones-acciones button {
        padding: 5px 10px;
        border: 1px solid #ee6e32;
        cursor: pointer;
        font-size: 2rem;
        transition: background-color 0.2s ease;
    }



    .botones-acciones .btn:hover {
        background-color: #ee6e32;
        color: #e0e0e0;
    }

    .resultado {
        margin-top: 20px;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 8px;

        border: 1px solid #e0e0e0;
        text-align: center;
        margin-bottom: 2rem;
    }

    .resultado p {
        margin: 5px 0;
        font-size: 1rem;
        color: #333;
    }

}