* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    overflow-x: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    background-color: rgb(255, 205, 182);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.103);
    line-height: 1.8rem;
    overflow-x: hidden;
}

main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(255, 205, 182);
}

/* Estilos para el header */
/* Estilos generales del header */
header {
    background-color: #f8f9fa;
    /* Color de fondo claro */
    padding: 10px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    max-height: 100px;
    margin-left: 20px;
}

#carrito .btn {
    background-color: #ee6e32;
    /* Color del carrito */
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s;
    margin-right: 1rem;
}

#carrito .btn:hover {
    background-color: #fcfcfc;
    border: 1px solid #ee6e32;
    color: #ee6e32;
}

.cantidadCarrito {
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: 5px 12px;
    position: absolute;
    top: -4px;
    right: -8px;
    font-size: 1rem;
}

.invis,
h1 {
    display: none;
}

#carrito .fa-cart-shopping {
    margin-right: 8px;
}



h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin: auto;
    color: #d0e0e3;
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.3rem solid #ee6e32;
    text-align: center;


}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
}



/* Estilos para los productos */
/* Estilos generales del contenedor de productos */
#contenedor-productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

/* Estilos de cada tarjeta de producto */
.tarjeta-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* Estilos de la tarjeta */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.418);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 600px;
    text-align: center;

}

/* Efecto hover para tarjetas */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Estilo de la imagen */
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 2px solid #eee;
    padding: 1rem;
}

/* Estilos del cuerpo de la tarjeta */
.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Título del producto */
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
}

/* Precio del producto */
.card-text {
    font-size: 1.2rem;
    color: #ee6e32;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Estilos para el contenedor de los botones */
.btn-container {
    display: flex;
    flex-direction: row;

}

.card-cat {
    font-size: 0.9rem;
    color: #888;
}

/* Estilo para los botones  card*/
.btn-detalle,
.btn-agregar

{
    color: rgb(253, 111, 45);
    border: 1px solid rgb(255, 115, 0);
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 3rem;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
}



.btn-agregar i,
.btn-detalle i {
    margin-right: 5px;

}

.btn-agregar:hover,
.btn-detalle:hover {
    background-color: #ee6e32;
    color: #d0e0e3;
}





/* Estilo para los filtros */
.filtros {
    display: grid;
    flex-direction: column;
    gap: 15px;
    padding: 1rem;
    background-color: #fdf0ea;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.filtros label {
    font-size: 1.2rem;
    color: #ee6e32;
    margin-bottom: 5px;
}

.filtros select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filtros select:focus {
    border-color: #ff7b00;
    box-shadow: 0 0 5px rgba(255, 115, 0, 0.5);
}

.filtros select option {
    padding: 10px;
}

.filtros select:hover {
    border-color: #888;
}




/*---------formulario--------------------------*/




#formCheckout h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #45474b;
    color: #f2f2f2;
}

#formCheckout div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    >h3 {
        margin-top: 1rem;
        text-align: center;
    }
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    background-color: #773203;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

footer ul li {
    font-family: 'Montserrat';
    font-size: 1.4em;
    line-height: 1.5;
    text-align: center;
    color: #d0e0e3;
}

footer ul li a {
    font-family: 'Montserrat';
    font-size: 1em;
    text-decoration: none;
    color: #d0e0e3;
}

/*-----------------*/

.oferta-banner {
    position: fixed;
    right: 10px;
    bottom: 25px;
    transform: translateX(-30%);
    width: 10rem;
    height: auto;
    z-index: 9999;

    border: 1px dotted #000;



}

/* Estilos del modal carrito */




/* Botones del pie de modal */



/*Modal detalles*/


.modal-detalle-producto {
width: 100%;
   max-width: 650px;
   
    padding: 20px;
    margin: auto;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    

}

.modal-detalle-producto img {

    width: 75%;
    margin: auto;
    margin-top: 1.5rem;
    



}

.modal-detalle-producto h3 {
    border-bottom: 1px solid rgb(250, 114, 2);
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.modal-detalle-producto span {
    font-size: 1.2rem;
    font-weight: 600;    
    color: rgb(250, 114, 2);
    
}

.modal-detalle-producto p {
    font-size: 1rem;
    padding: 1rem 1rem 0 0;
    



}

.btn-navegacion {
    position: absolute;
    top: 35%;
    background: rgba(250, 114, 2, 0.384);
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: background 0.3s ease;
}

.btn-navegacion:hover {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(250, 114, 2);
    color: rgb(250, 114, 2);
}



.btn-navegacion:first-of-type {
    left: 1rem;
}

.btn-navegacion:last-of-type {
    right: 1rem;
}


/* Modal carrito */


.modal-div {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    margin: auto;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.producto-element {
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.modal-carrito {
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.075);
}

.modal-carrito p {
    text-align: center;
}

.modal-carrito img {
    display: flex;
    border-radius: 4px;
    width:90%;
    height: auto;
    margin: auto;
}

.modal-carrito span {
    background-color: #e9640c;
    padding: 1rem 2rem;
}

.producto-info {
    flex-grow: 1;
}

.modal-carrito .fa-solid {
    font-size: 2rem;
    color: #ee6e32;
}

.botones-acciones {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.botones-acciones button {
    padding: 5px 16px;
    border: 1px solid #ee6e32;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.2s ease;
}

/* Hover para el botón de eliminar */
.botones-acciones .btn:hover {
    background-color: #ee6e32;
    color: #e0e0e0;
}

/* Contenedor de total y finalización de compra */
.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    text-align: center;
}

/* Estilo para el total */
.resultado p {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 900;
    color: #181717;
    text-align: right;
}


#filtro-categoria-botonera {
    display: flex; 
    gap: 10px; 
    flex-wrap: wrap; 
}


.filtro-categoria {
    padding: 10px 20px;  
    font-size: 1.5rem; 
    cursor: pointer; 
    background-color: #ee6e32;  
    border: 1px solid #f7f5f5; 
    color:#f3efef;
    border-radius: 5rem;  
    transition: background-color 0.3s;  
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box; 
}


.filtro-categoria:hover {
    background-color: #f7f4f4; 
    border: 1px solid #ee6e32;
    color: #ee6e32;
}



@media (min-width: 992px) {

    #filtro-categoria-botonera {
        justify-content: center;
    }

    .filtro-categoria {
        flex: 0 1 auto;  /* Los botones se organizarán en una sola fila */
    }


    #productos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    .filtros {
        display: flex;
        flex-direction: row;
        align-items: end;
        width: 100%;
    }

    #carrito .btn {
        margin-right: 8rem;
    }

    footer ul {
        flex-direction: row;
    }

    .modal-div {
        width: 100%;
        max-width: 900px;
        padding: 20px;
        margin: auto;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }


    .producto-element {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
    }

    .modal-carrito {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.397);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.075);
    }

    .modal-carrito p {
        margin: 1rem;
        
    }

    .modal-carrito img {
        border-radius: 4px;
        width: 70px;
        height: 70px;
        margin-right: 15px;

    }

    .modal-carrito span {
        border: 1px solid #ee9595;
        padding: 1rem;
    }

    .producto-info {
        flex-grow: 1;
    }



    /* Botones de sumar/restar */
    .botones-acciones {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

    }

    /* Botón de sumar y restar */
    .botones-acciones button {
        padding: 5px 10px;
        border: 1px solid #ee6e32;
        cursor: pointer;
        font-size: 2rem;
        transition: background-color 0.2s ease;
    }


    /* Hover para el botón de eliminar */
    .botones-acciones .btn:hover {
        background-color: #ee6e32;
        color: #e0e0e0;
    }

    /* Contenedor de total y finalización de compra */
    .resultado {
        margin-top: 20px;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 8px;

        border: 1px solid #e0e0e0;
        text-align: center;
        margin-bottom: 2rem;
    }

    /* Estilo para el total */
    .resultado p {
        margin: 5px 0;
        font-size: 1rem;
        color: #333;
    }

}